<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">

  <title>PelFit</title>

</head>

<body style="background-color:#cef4ff;">
<div class="text-center">

  <form action="/uploader" method="POST" name="form"
    enctype="multipart/form-data">
    <label for="file-input">
        <img class="logo" src="../static/Pelfit_logo.png" style="cursor:pointer;"/>
    </label>
    <input id="file-input" type="file" name="file" style="display:none;" onchange="document.form.submit();"/>
  </form>

  <section class="text-center visible-sm">
    <br><br><br>
    <h1>Tap the logo to upload a photo!</h1>
  </section>
  <section class="text-center hidden-sm">
    Click the logo to upload a file!
  </section>

</div>
</body>
</html>
