<!doctype html>

<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">

  <title>MedHack Life</title>

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>

<body>
<p class="text-center">
<img class = "logo" src="../static/Pelfit_logo.png">
</p>
  <form action = "/uploader" method = "POST"
   enctype = "multipart/form-data">
      <p class="col-sm-3 col-sm-offset-4">
   <input type = "file" name = "file" />
      </p>
   <input type = "submit" name = "submit"/>
  </form>
</body>
</html>
