<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>MedHack Life</title>

  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <style>
    .logo {
      float: top;
    }
    .open_button {
      z-index:999;
      float: bottom;
      width:181px;
      border-radius:10px;
    }
    .open_button:hover {
      background-color: gray;
      color: white;
    }
  </style>
</head>

<body>
<img class = "logo" src="../pictures/Pelfit with pelvis.png">
<div>
  <input type = "file" class = "open_button" onselect="sendPic()"></input>
</div>
  <p>{{ label}}</p>
  <p>{{ confidence }}</p>
<script type="text/javascript">
    function sendPic() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("postureStatus").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "postureStatus.txt", true);
        xhttp.send();
    }



</script>

</body>
</html>
